<launch>

  <arg name="robot" default="0"/>

  <group if="$(eval arg('robot') == 0)">
    <machine name="turtlebot" address="localhost"/>
  </group>


  <group if="$(eval arg('robot') == 1)">
    <machine name="turtlebot" address="turtlebot.local" env-loader="/home/ubuntu/loader.sh" user="ubuntu"  />
  </group> 

  <group if="$(eval arg('robot') != 0)">
    <machine name="sauerpatch" address="sauerpatch.local" env-loader="/home/psauer/loader.sh" user="psauer"  />
  </group> 


  <node name="controller" pkg="control" type="controller.py" output="screen" ></node>
  <node name="interface" pkg="control" type="interface.py" output="screen" ></node>


  <!-- <node name="laser_node" pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name= "frame_id" value = "base_scan"/>
  </node> -->

</launch>